<table>
    <tr>
        <td>стартовая цена 
        </td>
        <td>{0}
        </td>
    </tr>
    <tr>
        <td>текущая цена 
        </td>
        <td>{1}
        </td>
    </tr>
    <tr>
        <td>ваша цена 
        </td>
        <td>{2}
        </td>
    </tr>
    <tr>
        <td>согласны ?
        </td>
        <td>
            <input id="ButtonAuction" type="button" value="Auction" onclick="action();" />
        </td>
    </tr>
</table>
