<table style="width: 100%;">
    <tr>
        <td>
            <input type="image" src="/Content/images/1.gif" onmouseout="this.src='/Content/images/1.gif';"
                onmouseover="this.src='/Content/images/1h.gif';" id="go1" name="go1" onclick="roll(1);">
            <input type="image" src="/Content/images/2.gif" onmouseout="this.src='/Content/images/2.gif';"
                onmouseover="this.src='/Content/images/2h.gif';" id="go2" name="go2" onclick="roll(2); ">
            <input type="image" src="/Content/images/3.gif" onmouseout="this.src='/Content/images/3.gif';"
                onmouseover="this.src='/Content/images/3h.gif';" id="go3" name="go3" onclick="roll(3);">
            <input type="image" src="/Content/images/4.gif" onmouseout="this.src='/Content/images/4.gif';"
                onmouseover="this.src='/Content/images/4h.gif';" id="go4" name="go4" onclick="roll(4); ">
            <input type="image" src="/Content/images/5.gif" onmouseout="this.src='/Content/images/5.gif';"
                onmouseover="this.src='/Content/images/5h.gif';" id="go5" name="go5" onclick="roll(5); ">
            <input type="image" src="/Content/images/6.gif" onmouseout="this.src='/Content/images/6.gif';"
                onmouseover="this.src='/Content/images/6h.gif';" id="go6" name="go6" onclick="roll(6); ">
        </td>
    </tr>
</table>
