
<div id="translate_modal" style="display: none; cursor: default">
    <input id="elemId" type="hidden" />
    <span id="txtTranslate"></span>
    <br />
    <input type="button" id="yes" value="translate" />
    <table style="width: 80%;">
        <tr>
            <td>
                En
            </td>
            <td>
                <textarea id="TextEN" cols="70" rows="7"> </textarea>
            </td>
        </tr>
        <tr>
            <td>
                RU
            </td>
            <td>
                <textarea id="TextRU" cols="70" rows="7"></textarea>
            </td>
        </tr>
       
    </table>
   
</div>