<table id="8_Map" class="Map" rules="all" border="1" style="height: 500px; width: 500px;">
    <tr style="width: 60px;">
        <td class="c" id="map_c0">
        </td>
        <td class="h60w20">
        </td>
        <td class="h" style="background-color: White;" id="map_c1">
            20K
            <br>
        </td>
        <td class="h" style="background-image: url(/Content/images/chest2.png);" id="map_c2">
        </td>
        <td class="h" style="background-color: White;" id="map_c3">
            40K
            <br>
        </td>
        <td class="h" id="map_c4">
            Tax 2M
        </td>
        <td class="h" style="background-color: White;" id="map_c5">
            0K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c6">
            60K
            <br>
        </td>
        <td class="h" style="background-image: url(/Content/images/rand.png);" id="map_c7">
        </td>
        <td class="h" style="background-color: White;" id="map_c8">
            60K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c9">
            80K
            <br>
        </td>
        <td class="h60w20">
        </td>
        <td class="c" id="map_c10">
            Prison
        </td>
    </tr>
    <tr>
        <td class="h20w60">
        </td>
        <td class="h10w10">
        </td>
        <td class="h1" style="background-color: LightGreen;">
        </td>
        <td class="h1">
        </td>
        <td class="h1" style="background-color: LightGreen;">
        </td>
        <td class="h1">
        </td>
        <td class="h1" style="background-color: Gray;">
        </td>
        <td class="h1" style="background-color: #00CCFF;">
        </td>
        <td class="h1">
        </td>
        <td class="h1" style="background-color: #00CCFF;">
        </td>
        <td class="h1" style="background-color: #00CCFF;">
        </td>
        <td class="h10w10">
        </td>
        <td class="h20w60">
        </td>
    </tr>
    <tr>
        <td class="v" style="background-color: White;" id="map_c39">
            500K
            <br>
        </td>
        <td class="h40w20" style="background-color: DarkBlue;">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: #993366;">
        </td>
        <td class="v" style="background-color: White;" id="map_c11">
            100K
            <br>
        </td>
    </tr>
    <tr>
        <td class="v" id="map_c38">
            Tax 1M
        </td>
        <td class="h40w20">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: #336666;">
        </td>
        <td class="v" style="background-color: White;" id="map_c12">
            40K
            <br>
        </td>
    </tr>
    <tr>
        <td class="v" style="background-color: White;" id="map_c37">
            350K
            <br>
        </td>
        <td class="h40w20" style="background-color: DarkBlue;">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: #993366;">
        </td>
        <td class="v" style="background-color: White;" id="map_c13">
            100K
            <br>
        </td>
    </tr>
    <tr>
        <td class="v" style="background-image: url(/Content/images/rand.png);" id="map_c36">
        </td>
        <td class="h40w20">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: #993366;">
        </td>
        <td class="v" style="background-color: White;" id="map_c14">
            120K
            <br>
        </td>
    </tr>
    <tr>
        <td class="v" style="background-color: White;" id="map_c35">
            0K
            <br>
        </td>
        <td class="h40w20" style="background-color: Gray;">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: Gray;">
        </td>
        <td class="v" style="background-color: White;" id="map_c15">
            0K
            <br>
        </td>
    </tr>
    <tr>
        <td class="v" style="background-color: White;" id="map_c34">
            280K
            <br>
        </td>
        <td class="h40w20" style="background-color: #E56717;">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: #FFCC33;">
        </td>
        <td class="v" style="background-color: White;" id="map_c16">
            140K
            <br>
        </td>
    </tr>
    <tr>
        <td class="v" style="background-image: url(/Content/images/chest33.png);" id="map_c33">
        </td>
        <td class="h40w20">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20">
        </td>
        <td class="v" style="background-image: url(/Content/images/chest33.png);" id="map_c17">
        </td>
    </tr>
    <tr>
        <td class="v" style="background-color: White;" id="map_c32">
            260K
            <br>
        </td>
        <td class="h40w20" style="background-color: #E56717;">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: #FFCC33;">
        </td>
        <td class="v" style="background-color: White;" id="map_c18">
            140K
            <br>
        </td>
    </tr>
    <tr>
        <td class="v" style="background-color: White;" id="map_c31">
            260K
            <br>
        </td>
        <td class="h40w20" style="background-color: #E56717;">
        </td>
        <td colspan="9">
        </td>
        <td class="h40w20" style="background-color: #FFCC33;">
        </td>
        <td class="v" style="background-color: White;" id="map_c19">
            160K
            <br>
        </td>
    </tr>
    <tr>
        <td class="h20w60">
        </td>
        <td class="h10w10">
        </td>
        <td class="h1" style="background-color: #69D821;">
        </td>
        <td class="h1" style="background-color: #336666;">
        </td>
        <td class="h1" style="background-color: #69D821;">
        </td>
        <td class="h1" style="background-color: #69D821;">
        </td>
        <td class="h1" style="background-color: Gray;">
        </td>
        <td class="h1" style="background-color: Red;">
        </td>
        <td class="h1" style="background-color: Red;">
        </td>
        <td class="h1">
        </td>
        <td class="h1" style="background-color: Red;">
        </td>
        <td class="h10w10">
        </td>
        <td class="h20w60">
        </td>
    </tr>
    <tr>
        <td class="c" id="map_c30">
            Police
        </td>
        <td class="h60w20">
        </td>
        <td class="h" style="background-color: White;" id="map_c29">
            240K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c28">
            40K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c27">
            220K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c26">
            220K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c25">
            0K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c24">
            200K
            <br>
        </td>
        <td class="h" style="background-color: White;" id="map_c23">
            180K
            <br>
        </td>
        <td class="h" style="background-image: url(/Content/images/rand.png);" id="map_c22">
        </td>
        <td class="h" style="background-color: White;" id="map_c21">
            180K
            <br>
        </td>
        <td class="h60w20">
        </td>
        <td class="c" id="map_c20">
            Market
        </td>
    </tr>
</table>
