<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="ApplicationServices"
   connectionString="Data Source=db205.my-hosting-panel.com;Initial Catalog=assinik2_monop;User ID=assinik2_dbman;Password=kolyan2;"
   providerName="System.Data.SqlClient" />

    <!--<add name="DataContext" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Monop;Integrated Security=True" providerName="System.Data.SqlClient"/>-->
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
